{% extends 'base.html' %}

{% block title %}instaTinker{% endblock %}

{% block main %}
         <div class="row-fluid">
   		     <div class="span12 intro">
                <h1>InstaTinker</h1>
                <p>Using the instagram API, Instatinker scrapes all the photos photos tagged #LittleTinker and puts them neatly here for your viewing pleasure.  </p>
                To make your own Instagram hashtag dashboard <u><a href="http://littletinker.co/instatinker/insta.js">download our code</a></u>.  

               </div><!--/span-->
             </div><!--/row-->

	<div id="instafeed">
	</div>
{% endblock %}

{% block bottom_scripts %}
    <script src="{{ STATIC_URL }}js/insta.js" type="text/javascript"></script>
{% endblock %}