{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block activeabout %}
class="active"
{% endblock %}

{% block main %}
      <div class="row-fluid">
<ul class="nav nav-tabs nav-stacked span4 pull-right nav_buttons" id="about-subnav">
                <li class="active home"><a id="about" class="switcher">About</a></li>
                <li><a id="team" class="switcher">Team</a></li>
                <li><a id="process" class="switcher">Process</a></li>
                <li><a id="resources" class="switcher">Resources</a></li>
		<!-- Because we didn't want to be too mean...
                <li><a id="investors" class="switcher">Investors</a></li>
		-->
                <li><a id="news" class="switcher">In the News</a></li>
                </ul>


        <div class="span8 pull-left" id="main">
    

    <div id="switcher-panel"></div>
    
    <div id="about-content" class="switcher-content show">
      <h1>About Little Tinker</h1>
       <p> At Little Tinker we build meaningful experiences and bring these stories to life with intelligent electronics that interact with online events. Our products, strive to reach one goal create a meaningful and magical experience for our audience that gives them a story to share.</p> 

    <p>&nbsp;</p>
    <p>We tell our creative friends we are engineers. </p>
      <p>We tell our developer friends we are artists.</p>
      <p>And we tell our parents not to worry.</p>
      <p class="last">And we ask ourselves, "How can we change the world?"</p> 
    </div>

    <div id="team-content" class="switcher-content">
    <h2>Team</h2>
      <p>We have the perfect balance of hacker, hustler and designer that every startup desires. </p>
                      
    <div class="span4">
    <img src="{{ STATIC_URL }}img/team/isaac.png" alt="Isaac"></a>
    <h2>Isaac Budmen </h2>
      <h3>Co-founder, CEO</h3>
    
    <p>Comfortable Foot Attire Enthusiast. Vegetarian (but not the activist kind), cyclist, and coxswain of the 5th fastest college crew in the United States. He's the hustler that loves hacking, revolutionary products, and bringing delightful experiences to the masses.</p>
    </div>
    <div class="span4">
    <img src="{{ STATIC_URL }}img/team/reptar.png" alt="Isaac"></a>
    <h2>Christopher Azar </h2>
      <h3>Co-founder, Designer &amp; Developer</h3>
    
    <p>Total arsty-tech-nerd. Easily facinated. Obsessed with the harmony of form and function.</p>
    <p>Interface designer for the Washington Post digital innovation lab and former web design instructor at Syracuse University's Maxwell School. </p>  
    </div>

    <div class="span4">
    <img src="{{ STATIC_URL }}img/team/becker.png" alt="Isaac"></a>
    <h2>Chris Becker </h2>
      <h3>Software Engineer</h3>
  
    <p>Weakness for cute chicks who like graphic design. Redditor and audiophile. Designer and Python charmer. Born for the startup hustle.</p>
    Creator of various web sensations, including <a href="http://instantboat.org" target="_blank">InstantBoat.org</a>, <a href="http://redditbirthday.com/" target="_blank">RedditBirthday.com</a>, <a href="http://whatsthiscolor.com/" target="_blank">WhatsThisColor.com</a>, and who could forget <a href="http://thingsidratherdothangotoblockparty.com/" target="_blank">ThingsIdRatherDoThanGoToBlockparty.com</a>.
    </div>

    <strong>Special thanks</strong> to our mentors, <a href="http://twitter.com/JohnLiddy" target="_blank">Coach Liddy,</a> <a href="http://twitter.com/rotolo" target="_blank">Anthony Rotolo,</a> <a href="http://twitter.com/Remy_D" target="_blank">Remy,</a> our copy editors <a href="http://twitter.com/ChelseaOrcutt" target="_blank">Chelsea Orcutt</a> and <a href="http://twitter.com/CDeBaise124" target="_blank">Chelsea DeBaise,</a> <a href="http://twitter.com/KatyJeremko" target="_blank">Katy Jeremko</a> for her industrial design skills, and <a href="https://twitter.com/rebekahmackay">Rebekah MacKay</a> for the headshots above.


    </div>

    <div id="process-content" class="switcher-content">
    <h2>Process</h2>
    <p><img src="{{ STATIC_URL }}img/process.png" width="100%" class="process"/></p>
    </div>

    <div id="resources-content" class="switcher-content">
    <h2>Resources</h2>
     <div class="span4">
    <img src="{{ STATIC_URL }}img/littletinker-logo.png" alt="the next web">
    <h2>The Style Guide </h2>
   
      <p>We created the style guide to help communicate our brand guidelines to partners, clients, and others seeking to feature Little Tinker. <a href="{{ STATIC_URL }}downloads/Little_Tinker-Logos.pdf" title="download" target="_blank">Download PDF</a></p>
    </div>
    </div>

    <div id="investors-content" class="switcher-content">
    <h2>Investors</h2>
    <div class="haha">
    <p>No thanks, we got it.</p>
    </div>

    </div>

    <div id="news-content" class="switcher-content">
    <h2>News</h2>
      <p>Sometimes people print nice things about us...</p>
                      
    <div class="span4">
    <a href="#"><img src="{{ STATIC_URL }}img/tnw.png" alt="the next web"></a>
    <h2>The Next Web </h2>
    <p> Check out this drinking game for Twitter, it’s called #DrinkUp <br />
      <a href="http://thenextweb.com/shareables/2012/02/09/check-out-this-drinking-game-for-twitter-its-called-drinkup/" target="_blank">Read the article</a></p>
    </div>
    <div class="span4">
    <a href="#"><img src="{{ STATIC_URL }}img/metro.png" alt="metro"></a>
    <h2>Metro Boston</h2>    
    <p>#Drinkup: A new Twitter drinking game <br />
      <a href="http://www.metro.us/boston/local/article/1093271--drinkup-a-new-twitter-drinking-game" target="_blank">Read the article</a></p>  
    </div>

    <div class="span4">
    <a href="#"><img src="{{ STATIC_URL }}img/about4sq.png" alt="Isaac"></a>
    <h2>About Foursquare </h2>    
    <p>Gumball machine powered by foursquare check-ins <br />
      <a href="http://aboutfoursquare.com/gumball-machine-powered-by-foursquare-check-ins/" target="_blank">Read the article</a></p>
    </div>

  </div><!--/span-->	
</div><!--/row-->
{% endblock %}

{% block bottom_scripts %}
<script type='text/javascript'>
$(document).ready(function() {
  jcps.fader(300, '#switcher-panel');
{% if permalink %}
  $("#switcher-panel").html("");
  var _contentId = '#{{ permalink }}-content';
  var _content = $(_contentId).html();
  $("#switcher-panel").html(_content);
  $("#about").parent().removeClass("active");
  currentContent = "{{ permalink }}";
  $("#{{ permalink }}").parent().addClass("active");
{% endif %}
});
</script>  
{% endblock %}
