{% extends 'base.html' %}

{% block title %}{{ project.title }} - Little Tinker{% endblock %}

{% block main %}
    <div class="row-fluid">
    <div class="span12 intro project-images">

  <div id="page">
    <div class="yt_holder">
      <div id="ytvideo2"></div>
        <ul class="demo2">
            {% for image in images %}
            <li><a href="{{ MEDIA_URL }}{{ image }}"></a></li>
            {% endfor %}
            {% if project.video %}
              <li><a href="{{ project.video }}"></a></li>
            {% endif %}
        </ul>
    </div>
    </div>
  </div><!--/span-->  

    <div id="project-sidebar" class="row-fluid span4">
          {% if project.url %}
           <h4 class="">Site</h4> 
           <h3><a href="{{ project.url }}" target="_blank">{{ urlPretty }}</a></h3>
           {% endif %}
           <h4 class="">Date</h4> 
           <h3 class="project-date">{{ project.date|date:"F" }}<span>{{ project.date|date:"Y" }}</span></h3>
           <h4 class="">Category</h4> 
           <h3 class="">
            {% for category in project.category.all %}
              <a href="" title="{{ category.name }}" target="_blank"><img src="{{ MEDIA_URL }}{{ category.image }}" title="" alt="" /></a>
            {% endfor %}
           </h3>
         </div>
    <div class="row-fluid span8"> 
            <h1>{{ project.title }}</h1> 
            <div class="project-paragraph">
              {{ project.body|safe }}
            </div>

              <hr>


           </div><!--/row-->      



    </div><!--/.fluid-container-->
{% endblock %}

{% block bottom_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.youtubeplaylist.js"></script>
    <script type="text/ecmascript">
      
        $(function() {
          $("ul.demo2").ytplaylist({addThumbs:true, autoPlay: false, holderId: 'ytvideo2'});
        });
      
    </script>
{% endblock %}