{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block head %}
{% endblock %}

{% block activeproject %}
class="active"
{% endblock %}

{% block main %}


  <div class="row-fluid">
  <div class="span12 intro">

    <div id="projects-description">
      <h1>We love making sweet shit.</h1>
          <p>Our products connect the internet to the real world and create more meaningful experiences with technology and electonics. While you're here, check out our hacks and the store for official Little Tinker gadgets and gear.</p>
    </div>
     <div class="col2 pull-right head"> <a href="http://store.littletinker.co/" title="The Supply Store"><img src="{{ STATIC_URL }}img/thumbs/store.png" /></a></div>
     <!-- <div class="col2 pull-right head"> <a href="/hacks" title="Hacks"><img src="{{ STATIC_URL }}img/thumbs/hacks.png" /></a></div> -->


    </div>
    </div>


    <div class="row-fluid">
    <div class="span12 intro project-images">
    <p>We hope you enjoy these products as much as we enjoyed making them.</p> 
  <div id="container" class="transitions-enabled centered clearfix">

 <div class="box col4"> <a href="/project/2" title="Foursquare Gum Ball Rocket"><img src="{{ STATIC_URL }}img/thumbs/4sqrocket.png" title="Foursquare Gum Ball Rocket" alt="Foursquare Gum Ball Rocket" /></a>
  <p><a href="/project/2" title="Foursquare Gum Ball Rocket!">Foursquare Gum Ball Rocket</a> <i class="icon-qrcode"></i><i class="icon-cog"></i></p>
  </div>

  <div class="box col2">
    <a href="http://irene.littletinker.co" target="_blank" title="Irene"><img src="{{ STATIC_URL }}img/thumbs/mari.png" title="Irene" alt="Irene" /></a>
  <p><a href="http://irene.littletinker.co" target="_blank" title="Irene">Irene</a></p>
  </div>

  <div class="box col2">
    <img src="{{ STATIC_URL }}img/thumbs/washer.png" title="Tweeting Washer" alt="Tweeting Washer" />
  <p>Tweeting Washer</p>
  </div>

 <div class="box col4"> <a href="/project/1" title="Red Bull Creation"><img src="{{ STATIC_URL }}img/thumbs/redbull.png" title="Red Bull Creation" alt="Red Bull Creation" /></a>
  <p><a href="/project/1" title="Red Bull Creation">Red Bull Creation</a> <i class="icon-qrcode"></i><i class="icon-cog"></i></p>
  </div>

  <div class="box col4">
    <a href="http://drinkupgame.com" target="_blank" title="#DrinkUp"><img src="{{ STATIC_URL }}img/thumbs/drinkup.png" title="#DrinkUp" alt="#DrinkUp" /></a>
    <p><a href="http://drinkupgame.com" target="_blank" title="#DrinkUp">#DrinkUp</a> <i class="icon-qrcode"></i><i class="icon-cog"></i></p>
  </div>

  <div class="box col2">
    <a href="/hacks/instatinker" title="InstaTinker"><img src="{{ STATIC_URL }}img/thumbs/instatinker.png" title="InstaTinker" alt="InstaTinker" /></a>
  <p><a href="/hacks/instatinker" title="InstaTinker">InstaTinker</a></p>
  </div>

  <div class="box col2">
    <a href="http://makesweetshit.com/post/19659960283/little-tinkers-check-ins" title="map 4sq checkins"><img src="{{ STATIC_URL }}img/thumbs/4sqmap.png" title="map 4sq checkins" alt="map 4sq checkins" /></a>
  <p><a href="http://makesweetshit.com/post/19659960283/little-tinkers-check-ins" title="Map Your 4sq Check-ins" >Map Your 4sq Check-ins</a></p>
  </div>

  <div class="box col2">
    <a href="/fun/all-you-need" target="_blank" title="...is love"><img src="{{ STATIC_URL }}img/thumbs/love.png" title="project image" alt="project image" /></a>
  <p><a href="/fun/all-you-need" target="_blank" title="...is love">All You Need Is Love</a></p>
  </div>

  <div class="box col2">
    <a href="{{ STATIC_URL }}hacks/git" title="Git (for agile devs)"><img src="{{ STATIC_URL }}img/thumbs/octocats.png" title="project image" alt="project image" /></a>
  <p><a href="{{ STATIC_URL }}hacks/git" title="Git (for agile devs)">Git (for agile devs)</a></p>
  </div>

</div> <!-- #container -->
{% endblock %}

{% block bottom_scripts %}
<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
<script>
var $container = $('#container');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.box',
    columnWidth: 200,
    isAnimated: !Modernizr.csstransitions,
    isFitWidth: true
  });
});
</script>
{% endblock %}